svg g text {
  font-size: 0.12em;
  fill: rgb(161, 11, 11);
}

.singleton{
  fill: rgb(26, 13, 160);
  font-size: 2em;
}

svg g [block="1"]{
  fill:#a6cee3
}

svg g [block="2"]{
  fill:#b2df8a
}

svg g [block="3"]{
  fill:#fdbf6f
}

svg g [block="4"]{
  fill:#cab2d6
}

svg g [block="5"]{
  fill:#1f78b4
}

svg g [block="6"]{
  fill:#33a02c
}

svg g [block="7"]{
  fill:#fb9a99
}

svg g [block="8"]{
  fill:#e31a1c
}

svg g [block="9"]{
  fill:#ff7f00
}

svg g [block="10"]{
  fill:#6a3d9a
}

svg g [block="11"]{
  fill:#c7c788
}

svg g [block="12"]{
  fill:#b15928
}

svg g [highlight="true"]{
  fill:rgb(250, 237, 6)
}